.body {
  background: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;

  width: 100%;
  height: 90vh;
  background-color: hsl(229, 57%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 14px;
  color: hsl(243, 100%, 93%);
  font-family: "Raleway", sans-serif;
}
.first-box {
  border: 1px ;
  background-color: hsl(228, 56%, 26%);
  width: 230px;
  height: 140px;
  border-radius: 5px 70px 5px 5px;
  box-sizing: border-box;
  padding-top: 2em;
  padding-left: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.first-box-top {
  font-size: 14px;
}
.first-box-bottom-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  padding-bottom: 50px;
  align-items: center;
}
/* the real size hasn't been gotten */
.first-box-bottom {
  margin-top: 20px;
  width: 35px;
  height: 35px;
  background-color: hsl(229, 57%, 11%) ;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
/* Not complete */
.second-box {
  width: 400px;
  height: 100px;
  margin-left: 20px;
  margin-top: 40px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 5px;
  box-sizing: border-box;
}
.word {
  padding-top: 25px;
  padding-left: 25px;
  font-size: 11px;
}
.word span {
  font-weight: bold;
}
.gauge {
  width: 350px;
  height: 14px;
  background-color: hsl(229, 57%, 11%) ;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 25px;
}
.sub-gauge {
  width: 70%;
  height: 13px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.dot {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: calc(100% - 12px);
}
.range-value {
  font-size: 10px;
  font-weight: bold;
  margin: 5px 25px 0 25px;
  display: flex;
  justify-content: space-between;
}
.last-box {
  width: 130px;
  height: 70px;
  background-color: white;
  border-radius: 9px 9px 0 9px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: -50px;
  margin-left: -175px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    100% 75%,
    100% 100%,
    90% 75%,
    0% 75%
  );
}
.big-text {
  font-size: 30px;
  font-weight: 700;
  color: hsl(229, 57%, 11%);
}
.small-text {
  font-size: 11px;
  font-weight: bold;
  color: hsl(229, 7%, 55%);
  margin-bottom: 50px;
}
.attribution { 
  font-size: 11px; 
  text-align: center;
 }
.attribution a { 
  color: hsl(228, 45%, 44%);
 }

@media (max-width: 768px) {
  .body {
    background: url(./images/bg-mobile.svg);
    width: 375px;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .first-box {
    width: 300px;
  }
  .second-box {
    width: 300px;
    margin-right: 20px;
    align-items: center;
  }
  .gauge {
    width: 85%;
  }
  .last-box {
    width: 45%;
    margin-top: -10px;
    margin-left: 5px;
    height: 60px;
    clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    100% 100%,
    100% 100%,
    100% 100%,
    0% 100%
    );
    padding-top: 16px;
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
  }
  .small-text {
    font-size: 14px;
    font-weight: 400;
    word-spacing: 0%;
    align-items: center;
  }
  .attribution { 
    margin-left: -100px;
    font-size: 11px; 
    text-align: center;
   }
  .attribution a { 
    color: hsl(228, 45%, 44%);
   }
}

  